<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>AuthAction Angular Example</h1>

      <ng-container *ngIf="isLoading$ | async">
        <p>Loading...</p>
      </ng-container>

      <ng-container *ngIf="!(isLoading$ | async)">
        <ng-container *ngIf="isAuthenticated$ | async; else loggedOut">
          <p>Welcome, {{ (user$ | async)?.name }}!</p>
          <p>Email: {{ (user$ | async)?.email }}</p>
          <button (click)="logout()">Logout</button>
        </ng-container>

        <ng-template #loggedOut>
          <button (click)="login()">Login</button>
        </ng-template>
      </ng-container>
    </div>
  </div>
</main>

<router-outlet />
